doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Тестовое задание 1
    body
        .main
            form(name='summForm')
                label Первое число:
                    input(type='text', name='firstValue')
                label Второе число:
                    input(type='text', name='secondValue')
                input(type="submit", value='Сложить', name='summ', class='button')